@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container">
    <div>
        <p>Discover Honest Reviews</p>
        <p>Trust real reviews from real people. Make informed decisions with Trustify.</p>
        <button>Viết đánh giá</button>
    </div>
</div>
